h1,
h2,
h3 {
  color: #4aaaa5;
  font-family: 'Georgia', Times, Times New Roman, serif;
}

#jamiePic {
  width: 600px;
  height: auto;
}
header {
  display:inline-block;
  width:100%;
  padding:0px;
  margin:0px;
}
#navLinks {
  list-style-type: none;
  border:2px dotted black;
}

#navLinks li {
  float: right;
}

#navLinks li a {
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}
.nameHeader {
  color:white;
  background: #4aaaa5;
  text-align:center;
  margin-left:50px;
  padding:0px;
  width:25%;
  border:2px dotted black;
}
header {
  background-color:white;
}
