html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  position: relative;
}


/******* MAIN *********/

.content {
  width: 960px;
  margin: 0 auto;
}

.background {
  background: url('../images/small_steps.png') repeat;
  overflow: auto;
  height: 1040px;
}

.main h2 {
  font-size: 1.9em;
  font-weight: bold;
  padding: 15px 0px 25px 0px;
  border-bottom: 3px solid #dddddd;
  color: #4aaaa5;
}

.main {
  width: 620px;
  overflow: auto;
  float: left;
  background-color: #ffffff;
  padding: 45px 41px 5px 35px;
  border: 1px solid #dddddd;
  margin: 50px 20px 40px 0px;
}


/********* END MAIN ***********/


/********* NAVIGATIONAL LINKS AND HEADER *********/

.header {
  width: 100%;
  overflow: auto;
  border-bottom: 3px solid #cccccc;
}

.nameHeader {
  float: left;
  display: block;
  color: white;
  background-color: #4aaaa5;
  text-align: center;
  margin: 20px 0px 0px 240px;
  padding: 27px;
  font-size: 2em;
  font-weight: bold;
}

.siteTravel .navLinks {
  float: right;
  margin: 15px 180px 0px 0px;
}

.siteTravel li {
  padding: 5px 5px;
  display: inline-block;
  margin-top: 30px;
  margin-right: 30px;
}

.siteTravel a {
  text-decoration: none;
  font-size: 17px;
  list-style-type: none;
  font-style: bold;
  color: #777777;
}


/******** END NAVIGATIONAL LINKS **********/


/******* INDEX.HTML **********/

#jamiePic {
  width: 30%;
  height: auto;
  float: left;
  padding: 25px 20px 0px 0px;
}

.main #indexPara {
  line-height: 200%;
  padding-top: 20px;
  margin-bottom: 50px;
  font-size: 20;
  font-weight: bold;
}


/******** END INDEX.HTML ********/


/******** START PORTFOLIO ********/

#hangman,
#rpgGame,
#triviaGame,
#rutgerInfo,
#rockPS {
  width: 275px;
}

#rockPS {
  padding-bottom: 50px;
}

#rpgGame,
#rutgerInfo {
  padding-left: 25px;
}

#rpgDiv,
#triviaDiv,
#rutgerDiv,
#rockDiv,
#hangDiv {
  float: left;
  width: 285px;
  padding: 9.5px;
}
#hangDiv, #rpgDiv {
	padding-top:30px;
}

.portText {
  position: absolute;
  color: white;
  background-color: #4aaaa5;
  width: 275px;
  height: 30px;
  padding-top: 10px;
  text-align: center;
  z-index: 100;
  font-size: 18px;
}

#hangText {
  top: 453px;
}

#triviaText {
  top: 668px;
}

#rockText {
  top: 882px;
}

#rutText {
  top: 668px;
  right: 542px;
}

#rpgText {
  top: 453px;
  right: 542px;
}


/********* END PORTFOLIO.HTML *********/


/********* START CONTACT.HTML *********/

#email,
#name {
  font-weight: bolder;
  display: block;
  width: 600px;
  padding: 8px;
  vertical-align: center;
  font-size: 17px;
}

#inputTitle {
  padding: 10px 0px 10px 0px;
}

label {
  font-size: 24px;
  padding-bottom: 10px;
  line-height: 60px;
}

textarea {
  height: 170px;
  width: 610px;
  max-width: 610px;
  max-height: 170px;
  display: block;
  padding: 5px;
}

#submit {
  font-size: 24px;
  background-color: #4aaaa5;
  box-shadow: none;
  width: 130px;
  height: 50px;
  padding: 5px;
  color: white;
  text-align: center;
  border: none;
  text-decoration: none;
  margin: 10px 0px 30px 0px;
}


/********* END CONTACT.HTML *********/


/******* SIDEBAR ********/

.sideBar h2 {
  text-align: center;
  padding-bottom: 20px;
  font-size: 23px;
  font-weight: bolder;
  border-bottom: 3px solid #dddddd;
  width: 200px;
  margin-left: 18px;
}

.sideBar {
  width: 240px;
  float: right;
  border: 1px solid #dddddd;
  background-color: #ffffff;
  margin: 50px 0px 0px 0px;
  height: 175px;
}

.sideBar img {
  width: 55px;
  height: 55px;
  margin: 25px 10px 10px 6px;
  padding-left: 5px;
  border: 0;
  border-style: none;
}

.sideBar a {
  outline: none;
}

.connect {
  color: #4aaaa5;
  padding-top: 20px;
}


/******** END SIDEBAR *********/


/******* FOOTER *******/

.footer .footerNote {
  text-align: center;
  padding-top: 40px;
}

.footer {
  background-color: #666666;
  color: white;
  border-top: 8.5px solid #4aaaa5;
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
  clear: both;
}


/******* FOOTER *********/


/******* FONT STYLING *******/

body,
.navLinks {
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
}

h1,
h2 {
  font-family: 'Georgia', Times, Times New Roman, serif;
}


/******* END FONT STYLING *******/


/******* STYLE EFFECTS ******/

@-webkit-keyframes thumb {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
  }
}

#submit:hover {
  background: white;
  border: 1px solid #4aaaa5;
  color: #4aaaa5;
  -webkit-animation-name: thumb;
  -webkit-animation-duration: 200ms;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-timing-function: linear;
}

.sideBar img:hover {
  height: auto;
  margin-bottom: 0.1px;
  opacity: 0.88;
  -webkit-transition: margin 0.3s ease-out;
  -moz-transition: margin 0.3s ease-out;
  -o-transition: margin 0.3s ease-out;
}

.navLinks a:hover {
  font-size: 25px;
  background-color: #f2f2f2;
  padding: 12px;
  margin-bottom: 30px !important;
}

#jamiePic:hover {
  width: 100px;
  height: 100px;
  -webkit-transition: width 2s, height 2s, -webkit-transform 2s;
  /* Safari */
  transition: width 2s, height 2s, transform 2s;
}

#jamiePic:hover {
  width: 200px;
  height: 200px;
  -webkit-transform: rotate(180deg);
  /* Safari */
  transform: rotate(360deg);
}

#jamiePic:active {
  width: 275px;
  height: 275px;
  position: absolute;
}

.navLinks li a:visited {
  text-decoration: none;
  color: #777777;
}

#hangText:hover,
#triviaText:hover,
#rockText:hover,
#rutText:hover,
#rpgText:hover {
  color: #4aaaa5;
  background-color: #f2f2f2;
  font-style: bolder;
  transition: all 500ms linear;
  transition-delay: 0.5s;
  transition: all 1s ease-in-out;
  font-size: 20px;
}


/******* STYLE EFFECTS ******/
