/* Main  */
body {
	width: 100%;
}
.wrapper {
	width:960px;
	margin:0 auto;
	
}
.background {
	background-image: url('../images/small_steps.png');
	overflow: auto;
}
.main h2 {
font-size: 1.9em;
font-weight: bold;
padding:15px 0px 25px 0px;
border-bottom: 1px solid #dddddd;
}
/********* END MAIN ***********/

/********* NAVIGATIONAL LINKS AND HEADER *********/
.header {
	width: 100%;	
	overflow: auto;
	border-bottom: 1px solid #cccccc;
}

.nameHeader {
	float:left;
	display: block;
	color:white;
	background-color:#4aaaa5;
	text-align: center;
	margin: 20px 0px 0px 240px;
	padding: 15px;
	font-size: 2em;
	font-weight: bold;
}
.siteTravel .navLinks {
	float:right;
	margin:15px 180px 0px 0px;
}
.siteTravel li {
	padding:5px 5px;
	display: inline-block;
	margin-top: 14px;
	margin-right: 20px;
}
.siteTravel a {
	text-decoration: none;
	font-size: 24px;
	list-style-type: none; 
}
/******** END NAVIGATIONAL LINKS **********/

/******* INDEX.HTML **********/

#jamiePic {
	width:30%;
	height:auto;
	float:left;
	padding:25px 20px 0px 0px;
}
.main {
	width: 600px; 
	overflow: auto;
	float: left;
	background-color: #ffffff;
	padding: 25px 35px;
	border: 1px solid #dddddd;
	margin:30px 10px 9.269% 0px;
}
.main p {
	line-height: 200%;
	padding-top: 20px;
	margin-bottom: 25px;
	font-size: 20;
	font-weight: bold;
}
.aboutMe {
	color:#4aaaa5;
}

/******** END INDEX.HTML ********/

/******* SIDEBAR ********/
.sideBar h2 {
	text-align: center;
	border-bottom:1px solid #dddddd;
	padding-bottom: 20px;
	font-size: 23px;
	font-weight:bolder;
}
.sideBar {
	width: 250px;
	float:right;
	border: 1px solid #dddddd;
	background-color: #ffffff;
    margin:30px 0px 0px 0px;
}
.sideBar img {
	width:60px;
	height: 60px;
	padding:25px 5px 25px 10px;
}
.connect {
	color: #4aaaa5;
    padding-top:20px;
}

/******** END SIDEBAR *********/

/******* FOOTER *******/

.footer .footerNote {
	text-align: center;
}
.footer {
	height: 50px;
	background-color: #666666;
	clear:both;
	color:white;
	padding-top: 35px;
 	border-top:6px solid #4aaaa5;
}
/******* FOOTER *********/

/******* FONT STYLING *******/
body, .navLinks {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color:#777777;
}
h1, h2 {
	
	font-family: 'Georgia', Times, Times New Roman, serif;
}

/******* END FONT STYLING *******/

/******* HOVER EFFECTS ******/

.sideBar img:hover{
  	width:72px;
    height:auto;
}
.contact:active, .about:active, .portfolio:active {
	background-color: #4aaaa5;
	color:white;
	padding:14px;
}
#jamiePic:active {
  width:275px;
  height:275px;
  position:absolute;
}

/******* END HOVER EFFECTS ******/